@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}




:root {
  --background: 60 9% 98%;
  --foreground: 240 6% 10%;
  --card: 0 0% 100%;
  --card-foreground: 240 6% 10%;
  --popover: 0 0% 100%;
  --popover-foreground: 240 6% 10%;
  --primary: 198 89% 60%;
  --primary-foreground: 0 0% 100%;
  --secondary: 210 17% 95%;
  --secondary-foreground: 240 6% 20%;
  --muted: 210 17% 95%;
  --muted-foreground: 240 5% 45%;
  --accent: 210 17% 90%;
  --accent-foreground: 240 6% 20%;
  --destructive: 0 84% 60%;
  --destructive-foreground: 0 0% 100%;
  --border: 240 6% 90%;
  --input: 240 6% 90%;
  --ring: 210 100% 37%;
  --radius: 0.5rem;
  --chart-1: 210 100% 37%;
  --chart-2: 160 90% 36%;
  --chart-3: 40 100% 50%;
  --chart-4: 300 80% 50%;
  --chart-5: 0 84% 60%;
}

.dark {
  --background: 240 6% 10%;
  --foreground: 240 5% 65%;
  --card: 240 6% 15%;
  --card-foreground: 240 5% 65%;
  --popover: 240 6% 15%;
  --popover-foreground: 240 5% 65%;
  --primary: 198 89% 60%;
  --primary-foreground: 0 0% 100%;
  --secondary: 240 6% 20%;
  --secondary-foreground: 240 5% 65%;
  --muted: 240 6% 20%;
  --muted-foreground: 240 5% 45%;
  --accent: 240 6% 25%;
  --accent-foreground: 240 5% 65%;
  --destructive: 0 84% 50%;
  --destructive-foreground: 0 0% 100%;
  --border: 240 6% 25%;
  --input: 240 6% 25%;
  --ring: 210 100% 45%;
  --chart-1: 210 100% 45%;
  --chart-2: 160 90% 40%;
  --chart-3: 40 100% 55%;
  --chart-4: 300 80% 60%;
  --chart-5: 0 84% 50%;
}



@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
